*.vrb
texput.log
questions/ms.tex
questions/questions1.aux
questions/questions1.log
questions/questions1.pdf
questions/questions2.aux
questions/questions2.log
questions/questions2.out
questions/questions2.pdf
questions/questions3.aux
questions/questions3.log
questions/questions3.out
questions/questions3.pdf
questions4.aux
questions4.log
questions4.out
questions4.pdf
slides/_minted-distributions/
slides/_minted-parameter-estimation/
slides/distributions.aux
slides/distributions.log
slides/distributions.nav
slides/distributions.out
slides/distributions.pdf
slides/distributions.snm
slides/distributions.toc
slides/distributions.vrb
slides/height1.pdf
slides/height2.pdf
slides/parameter-estimation.aux
slides/parameter-estimation.log
slides/parameter-estimation.nav
slides/parameter-estimation.out
slides/parameter-estimation.pdf
slides/parameter-estimation.snm
slides/parameter-estimation.toc
slides/parameter-estimation.vrb
slides/poisson.pdf
slides/probability.aux
slides/probability.log
slides/probability.nav
slides/probability.out
slides/probability.pdf
slides/probability.snm
slides/probability.toc
slides/texput.log
slides/ms.aux
slides/ms.log
slides/ms.nav
slides/ms.out
slides/ms.pdf
slides/ms.snm
slides/ms.toc
_minted-metropolis/
metropolis.aux
metropolis.log
metropolis.nav
metropolis.out
metropolis.pdf
metropolis.snm
metropolis.toc
metropolis.vrb
transit-data.pdf
transit-data.txt
slides/nested-sampling.aux
slides/nested-sampling.log
slides/nested-sampling.nav
slides/nested-sampling.out
slides/nested-sampling.pdf
slides/nested-sampling.snm
slides/nested-sampling.toc
slides/hierarchical-models.aux
slides/hierarchical-models.log
slides/hierarchical-models.nav
slides/hierarchical-models.out
slides/hierarchical-models.pdf
slides/hierarchical-models.snm
slides/hierarchical-models.toc



