*.vrb
texput.log
questions/ms.tex
questions/questions1.aux
questions/questions1.log
questions/questions1.pdf
questions/questions2.aux
questions/questions2.log
questions/questions2.out
questions/questions2.pdf
questions/questions3.aux
questions/questions3.log
questions/questions3.out
questions/questions3.pdf
questions4.aux
questions4.log
questions4.out
questions4.pdf
slides/_minted*
slides/*.pdf
transit-data.txt

